body {
    
    background: linear-gradient(#f8fc03 0%, #07f281 100%);
    background-repeat: no-repeat;
    text-align: center;
}

#image {

    width: 250px;
    height: :230px;
    text-decoration:none;
    border: 10px solid #ed1337;
    }
h1 {
    text-shadow: 2px 2px #F8BBD0;
    font-size: 60px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}


p {
    font-size: 18px;
    color: darkblue;
    font-family: monospace;


}

h2 {
    font-size: 20px;
    color: #1A237E;
}

.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}

#bio {
    padding: 20px;
    font-size: 16;
    text-align: center;
    color: darkblue;
    font-family: sans-serif;
}

#hobby {
    margin-top: 200px;
    text-decoration: none;
    background-color: aquamarine;
    color: blueviolet;
}

.menu {
    list-style: none;
    font-family: cursive;
    position: fixed;
    top: 0px;
    margin-top: 0px;
    background: darkblue;
    width:100%;
    z-index: 10;
    cursor: pointer;
}

.links {
    display: inline;
    color: blue;
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px;
}

.links:hover {
    background-color: yellow;
    font-size: :25px;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: aqua;
    text-shadow: 2px 2px grainsboro;
}

.article:hover {

    color: purple;

}

#inspiration {
    color: chocolate;
    font-size: 20px;
    background-color: yellowgreen;
    font-style: bold;
}

html {
    scroll-behavior: smooth;
}

#app {
    width: 100%;
    height: 800px;
    background-color: cyan;
    margin-right: 50px;
}

#game {
    width: 100%;
    height: 800px;
    background-color:darkorange;
    margin-right: 50px;
}

#gameimg {
    transition: transform .2s;
    height: 500px;
    width: 400px;
    margin-right: 20px;

}

.gameimg:hover {
    transform: scale(0.9);
}

#insimage {
    transition: transform .2s;
    height: 500px;
    width: 450px;
    margin-right: 20px;
    border: 10px solid #1409e8;
}
insimage:hover {
    transform: scale(0.9);
}

#chatbot {
    width: 100%;
    height: 800px;
    background-color: chartreuse;
    margin-right: 20px;;
}
#contact{
    background: firebrick;
}

#contact iframe {
    width: 100%
       
}

.contact_1 h3{
    display: inline;
    color:yellow;
}
.contact_1 a{
    color: blue;
    text-shadow: none;
}